In [1]:
import torch
import numpy as np
import warnings
import matplotlib.pyplot as plt
import pandas as pd
import random
import math


from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from collections import Counter


warnings.filterwarnings("ignore", "FutureWarning")
plt.style.use("dark_background")

# дополнительные импорты для задачи



import torch
from torch.autograd import Variable
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

import torch.nn as nn
from torch.nn import functional as F
from torch.utils.data import TensorDataset, DataLoader
from torchmetrics import Accuracy
from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from collections import Counter
from tqdm.autonotebook import tqdm

In [2]:
torch.cuda.is_available()

False

In [3]:
torch.device('cuda:0')

device(type='cuda', index=0)

In [4]:
def myFunction(x, y):
    return math.sin(x + 2*y)*math.exp(-  pow((2*x + y), 2))

In [5]:
def randomDif():
    x = random.randrange(0, 1000)/100
    y = random.randint(0, 1)
    if y==1:
        return x
    else:
        return x*-1

In [6]:
dataset_array_xy = []
dataset_array_z = []

In [7]:
number = 0
while number < 20000:
    x = randomDif()
    y = randomDif()
    z = myFunction(x, y)
    dataset_array_xy.append([x, y])
    dataset_array_z.append([z])
    number += 1

In [8]:
dataframe_xy = pd.DataFrame(dataset_array_xy)

In [9]:
dataframe_z = pd.DataFrame(dataset_array_z)

In [10]:
dataframe_xy.head(3)

      0     1
0  3.26  1.96
1 -7.66  7.43
2  8.82 -2.67

In [11]:
dataframe_z.head(3)

              0
0  4.597818e-32
1  7.309628e-28
2 -1.567958e-98

In [12]:
train_df_xy = dataframe_xy.iloc [:13999]
test_df_xy = dataframe_xy.iloc [14000:16999]
val_df_xy = dataframe_xy.iloc [17000:]

In [13]:
train_df_z = dataframe_z.iloc [:13999]
test_df_z = dataframe_z.iloc [14000:16999]
val_df_z = dataframe_z.iloc [17000:]

In [14]:
train_df_xy.head()

      0     1
0  3.26  1.96
1 -7.66  7.43
2  8.82 -2.67
3  8.76 -4.91
4  8.20 -7.07

In [15]:
train_df_xy = train_df_xy.to_numpy()
val_df_xy = val_df_xy.to_numpy()
train_df_z = train_df_z.to_numpy()
test_df_z = test_df_z.to_numpy()
val_df_z = val_df_z.to_numpy()

In [16]:
x_train = torch.from_numpy(train_df_xy).to(torch.float32)
y_train  = torch.from_numpy(train_df_z).type_as(x_train)
x_validation  = torch.from_numpy(val_df_xy).to(torch.float32)
y_validation  = torch.from_numpy(val_df_z).type_as(x_train)

In [17]:
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):
   def __init__(self):
       super(Net, self).__init__()
       self.fc1 = nn.Linear(28 * 28, 200)
       self.fc2 = nn.Linear(200, 200)
       self.fc3 = nn.Linear(200, 10)

In [18]:
def forward(self, x):
   x = F.relu(self.fc1(x))
   x = F.relu(self.fc2(x))
   x = self.fc3(x)
   return F.log_softmax(x)

In [19]:
net = Net()
print(net)

Net(
  (fc1): Linear(in_features=784, out_features=200, bias=True)
  (fc2): Linear(in_features=200, out_features=200, bias=True)
  (fc3): Linear(in_features=200, out_features=10, bias=True)
)

In [20]:


optimizer = optim.SGD(net.parameters(), lr=0.01, momentum=0.9)
criterion = nn.NLLLoss()

In [21]:
BATCH = 64

train_dataset = TensorDataset(x_train, y_train)
val_dataset = TensorDataset(x_validation, y_validation)

train_loader = DataLoader(train_dataset, batch_size=BATCH)
val_loader = DataLoader(val_dataset, batch_size=BATCH)